@using NobetTakip.ViewModel;
@model BildirimListViewModel
@{
    ViewData["Title"] = "Bildirimler";
}

<div class="section-header mt-40">Okunmamış Bildirimleriniz</div>
@if (Model.Seen != null & Model.Seen.Count > 0)
{
    @foreach (Bildirim bildirim in Model.Seen)
    {
        <div class="nobet-data first">

            <div class="info-row normal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <p>@bildirim.Date.ToString("dd MMMM dddd")</p>
            </div>
            @if (bildirim.Degisim != null)
            {
                <div class="info-row title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    <p>@bildirim.Degisim.FirstPersonel.RealName size bir nöbet değişim talebinde bulundu</p>
                </div>
                <div class="info-row normal pt-2">
                    <a href="/degisim/@bildirim.DegisimId" role="button" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                        </svg>
                        Değişim talebini göster
                    </a>
                </div>
            }
        </div>
    }
}
else
{
    <div class="nobet-data">Okunmamış bildiriminiz bulunmamaktadır.</div>
}

<div class="section-header mt-40">Geçmiş Bildirimleriniz</div>
@if (Model.Unseen != null & Model.Unseen.Count > 0)
{
    @foreach (Bildirim bildirim in Model.Unseen)
    {
        <div class="nobet-data">
            <div class="info-row normal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <p>@bildirim.Date.ToString("dd MMMM dddd")</p>
            </div>
            @if (bildirim.Degisim != null)
            {
                <div class="info-row title">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    <p>@bildirim.Degisim.FirstPersonel.RealName size bir nöbet değişim talebinde bulundu</p>
                </div>
                <div class="info-row normal pt-2">
                    <a href="/degisim/@bildirim.DegisimId" role="button" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                        </svg>
                        Değişim talebini göster
                    </a>
                </div>
            }
        </div>
    }
}
else
{
    <div class="nobet-data">Bildiriminiz bulunmamaktadır.</div>
}

