
NobetTakip/NobetTakip/.vs/NobetTakip/v16/.suo
NobetTakip/NobetTakip/.vs/NobetTakip/v16/.suo
NobetTakip/NobetTakip/NobetTakip/bin/Debug/netcoreapp3.1/NobetTakip.dll
NobetTakip/NobetTakip/NobetTakip/bin/Debug/netcoreapp3.1/NobetTakip.pdb
NobetTakip/NobetTakip/NobetTakip/bin/Debug/netcoreapp3.1/NobetTakip.Views.dll
NobetTakip/NobetTakip/NobetTakip/bin/Debug/netcoreapp3.1/NobetTakip.Views.pdb
NobetTakip/NobetTakip/NobetTakip/Controllers/AccountController.cs
NobetTakip/NobetTakip/NobetTakip/obj/Debug/netcoreapp3.1/NobetTakip.dll
NobetTakip/NobetTakip/NobetTakip/obj/Debug/netcoreapp3.1/NobetTakip.pdb
NobetTakip/NobetTakip/NobetTakip/obj/Debug/netcoreapp3.1/NobetTakip.Views.dll
NobetTakip/NobetTakip/NobetTakip/obj/Debug/netcoreapp3.1/NobetTakip.Views.pdb
